body {
    &.body-ps-cs6 {
        background-color: @bodyBackground;
        font-size: @baseFontSize;
        letter-spacing: @baseLetterSpacing;
        line-height: @baseLineHeight;
        color: @textColor;
        text-shadow: @baseTextShadow;

    }
}

span {
    &.disabled-ps-cs6 {
        color: @textDisabledColor;
    }
}
