// Folders
// -------------------------
@imagesThemeFolder:           "@{imagesFolder}medium-light/";

// Scaffolding
// -------------------------
@bodyBackground:        #b8b8b8;
@textColor:             #000000;
@textDisabledColor:     #6d6d6d;
@textColorFocus:        #000000;

// Typography
// -------------------------
@baseTextShadow:        0 1px 0px rgba(255, 255, 255, 0.35);

// Buttons
// -------------------------
@btnBackground:         #9d9d9d;
@btnBgGradient1:        #e8e8e8;
@btnBgGradient2:        #bfbfbf;
@btnBgGradientActive1:  #8d8d8d;
@btnBgGradientActive2:  #868686;
@btnBorderColor:        #686868;
@btnBoxShadow:          inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.25);
@btnBoxShadowActive:    inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.2);

// Text Inputs
// -------------------------
@txtInputBg:            #eeeeee;
@txtInputBgFocus:       #ffffff;
@txtInputBoxShadow:     inset 0px 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.1);
@txtInputBorderColor:   #686868;
