// Folders
// -------------------------
@imagesThemeFolder:           "@{imagesFolder}light/";

// Scaffolding
// -------------------------
@bodyBackground:        #d6d6d6;
@textColor:             #000000;
@textDisabledColor:     #7d7d7d;
@textUnselectedColor:   #000000;
@textColorFocus:        #000000;
@linkColor:             #444444;
@linkColorHover:        #666666;
@baseBorderColor:       #646464;

// Typography
// -------------------------
@baseTextShadow:        0 1px 0px rgba(255, 255, 255, 0.35);

// Buttons
// -------------------------
@btnBackground:         #bcbcbc;
@btnBgGradient1:        #ffffff;
@btnBgGradient2:        #eaeaea;
@btnBgGradientActive1:  #aaaaaa;
@btnBgGradientActive2:  #a1a1a1;
@btnBorderColor:        #888888;
@btnBoxShadow:          inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 0.50);
@btnBoxShadowActive:    inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5);

// Text Inputs
// -------------------------
@txtInputBg:            #ffffff;
@txtInputBgFocus:       #ffffff;
@txtInputBoxShadow:     inset 0px 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.1);
@txtInputBorderColor:   #303030;

// Navs
// -------------------------
@navBgGradient1:        #989898;
@navBgGradient2:        #919191;
@navBackground:         #989898;
@navHighlight:          #b5b5b5;
@navActiveHighlight:    #e8e8e8;

// Sliders
// -------------------------
@sldBgGradient1:        #a8a8a8;
@sldBgGradient2:        #c0c0c0;
@sldRngGradient1:       #ffffff;
@sldRngGradient2:       #eaeaea;
@sldBorderColor:        #a5a5a5;
@sldBoxShadow:          inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5);
